
.question-active {
    background: transparent;
    padding: 0 20px 20px 20px;
    border: 1px solid rgba(53, 62, 82, 0);
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    color: white;
    text-align: center;
    padding: 20px;
}
.question-section {
    background: #ffffff00;
    padding: 20px;
    border: 1px solid #57585c00;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    color: #ffffff;
}


.question-align {
    align-items: center;
    display: flex;
    min-height: 10px;
}

.question-align h4 {

}

.question-styling {
    font-size: 15px;
}

.question-icon {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 22px;
    margin-left: auto;
    margin-right: 8px;
    transition: 0.5s;
}

.rotate {
    transform: rotate(45deg);
    transition: 0.5s;
    color: #ffffff;
}

.answer-divider {

}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
}

.textofaq{
    color: #ffffff;
    font-weight: 400;
    margin-top: 12px;
    padding-right: 30px;
    text-align: left;
    font-size: 18px;
}

.textofaq:hover{
    color: white;
}


@media (max-width: 600px) {
    .App{
        text-align: center;
        margin-top: 40px;
    }

}

@media (min-width: 600px) {
    .App{
        text-align: center;
    }

}
