
.bgsobre {
    background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(32,32,32,0) 100%);
}

.cardcateg{
    background: transparent linear-gradient(239deg, #242424 0%, #575757 100%);
    padding: 30px;
    margin-top: -60px;
    margin-bottom: 70px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #565656;
}

.link{
    color: black;
}

.textocard {
    color: #ffffff;
    font-size: 21px;
    margin-top: 10px;
    font-family: Univers;
}


