
.bgbanner {
    background-image: url("../../public/banner-sobrenos.jpg");
    height: 100vh;
    background-size: cover;

}

.titulo1 {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(75, 75, 75);
    font-family: "Bebas Neue";
    font-size: 75px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.29));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 35px;


}
.titulo2{
    color: #fff;
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 70px;
    margin-top: -90px;
    margin-left: 2px;
}

.posicaott{
    position: absolute;
    top: 180px;

}

.texto {
    color: #fff;
    font-family: Univers;
    font-size: 17px;
    margin-top: -18px;
    margin-left: 2px;
}

@media (max-width: 600px){
    .titulo1{
        font-size: 55px;
        margin: 0;
    }

    .titulo2{
        font-size: 50px;
    }
    .bgbanner{
        height: 300px;
    }
}
