
.bgbanner {
    background-image: url("../../public/banner-home-2.jpg");
    padding: 10px;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.btfixed {
    position: fixed;
    font-size: 40px;
    color: #ffffff;
    text-align: right;
    height: 100px;
    right: 20px;
    bottom: 0;
    z-index: 999;
}

.bgwhats {
    background-color: #26D366;
    width: 55px;
    height: 55px;
    padding: 10px;
    fill: #000000;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .bgbanner{
        height: 240px;
        margin-top: 69px;
    }
}