
.bgbanner {
    background-image: url("../../public/banner-maquinas.jpg");
    height: 100vh;
    background-size: cover;
}

@media (max-width: 600px){
    .bgbanner{
        height: 250px;
        margin-top: 70px;
    }
}

