
.bgpage {
    background: transparent linear-gradient(155deg, #ffffff 0%, #979797 100%);
    padding: 30px 0 80px 0;
    border-top: solid;
    border-top-width: 1px;
    border-color: rgba(255, 255, 255, 0.24);
}
.ttmaq2{
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(189, 189, 189);
    font-family: "Bebas Neue";
    font-size: 95px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.19));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;

}

.ttmaq1{
    color: #070707;
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 50px;
    margin-top: -75px;
    text-align: center;
}

.textopage{
    color: #141414;
    font-family: Univers;
    text-align: center;
    margin-top: 10px;
}

.cardpage {
    background: transparent linear-gradient(139deg, #080808 0%, #2D2D2D 100%);
    padding: 40px 30px 40px 30px;
    text-align: center;
    margin-top: 35px;
}

.subtt{
    color: #dedede;
    font-family: "Bebas Neue";
    font-size: 18px;
    margin-top: 10px;
}

.ttcard {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 30px;
}

.textocard{
    color: #B0B0B0;
    font-size: 14px;
    font-family: Univers;
    margin-top: 25px;
}

.select {
    background-color: transparent;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: #606060;
    color: #606060;
    width: 100%;
    margin-top: 15px;
    outline: none;
    font-family: "Bebas Neue";
    cursor: pointer;
}

.selectoption[value="1"] {
    background: rgba(0, 0, 0, 0.70);
    color: #dcdcdc;
}
