
@media (max-width: 1000px) {
    .ocultamob {
        display: none;
    }
}



@media (min-width: 1000px) {
    .ocultadesk {
        display: none;
    }
}

.bgheader {
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.menuToggle {
    display: block;
    z-index: 1;
    background-color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.menuToggle .a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.menuToggle .a:hover {
    color: #4f7794;
}


/* The hamburger button hidden inside an input element */
.menuToggle .input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.menuToggle .label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}
.menuToggle .label .span {
    display: none;
}

/*
 * Hamburger
 */
.menuToggle .label .div {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 100px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menuToggle .label .div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.menuToggle .label .div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/*
 * Change the color of the hamburger when toggled
 */
.menuToggle .input:checked + .label .div {
    background: #ffffff;
}

/*
 * Use absolute positioning to place the menu off-screen
 */
.menu {
    position: fixed;
    width: 100%;
    margin: -100px 0 0 0px;
    padding: 20px;
    padding-top: 100px;
    background: linear-gradient(354deg, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    left: -100%;

}

.menu .li {
    font-size: 25px;
    color: #ffffff;
    margin-top: 20px;
    font-family: "Bebas Neue";
    font-weight: 100;
    padding-right: 40px;
}

.link{
    color: white;
}

.link:hover {
    color: white;
}

.link:active{
    color: white;
}

/*
 * Slide the menu in from left when the input is checked
 */
.menuToggle .input:checked ~ .ul {
    left: 0;

}

.botaoctt{
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition: 1s;
}

.botao{
    margin-top: 20px;
}

.botaoctt:active{
    color: white;
}

.botaoctt:hover{
    color: white;
}


@media (min-width: 600px){
    .navigation{
        display: none;
    }
}
